{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="id=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<!--    link for static files-css file for style-->
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <title> Document </title>

</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-sm">
                    <div class="card-body row no-gytters align-items-center">
                        <div class="col">
                            <input type="search" name='item_name' placeholder="Search for Products" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit"> Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            {% for item in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="item.image" class="card-img-top">
                    <div class="card-body">
                        <div class="card-title">
                             {{ item.title }}
                        </div>
                        <div class="card-text">
                            Rs/- {{ item.price }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</body>
</html>

